/* Button Styles */
.btn { font-weight: 300; margin: 0 10px 10px 0; -webkit-transition: all 0.15s; -moz-transition: all 0.15s; transition: all 0.15s; }

.btn.active { box-shadow: none; }

.btn .caret { margin: -2px 0 0 6px; }

.btn [class^="icon-"], .btn[class*="icon-"] { display: inline-block; margin-right: 10px; margin-top: -4px; font-size: 18px; vertical-align: middle; }

.btn-primary { background: #007aff; border-color: #007aff; }

.btn-primary:hover, .btn-primary.active { background: white; color: #007aff; border-color: #007aff; }

.btn-primary:hover .caret, .btn-primary.active .caret { border-top-color: #007aff; }

.btn-primary-outline { color: #007aff; background: white; border: 1px solid #007aff; }

.btn-primary-outline .caret { border-top-color: #007aff; }

.btn-primary-outline:hover, .btn-primary-outline.active { background: #007aff; color: white; }

.btn-primary-outline:hover .caret, .btn-primary-outline.active .caret { border-top-color: white; }


body { font-family: "Lato", sans-serif; color: #666666; background: #eeeeee; padding-top: 140px; position: relative; }

.widget-container { padding-top: 20px; min-height: 320px; background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.widget-container.fluid-height { height: auto; min-height: 0; }